USE [master]
GO
/****** Object:  Database [TechDevices]    Script Date: 6/15/2023 7:39:18 PM ******/
CREATE DATABASE [TechDevices]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechDevices', FILENAME = N'D:\Develop\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TechDevices.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechDevices_log', FILENAME = N'D:\Develop\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TechDevices.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechDevices].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechDevices]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 6/15/2023 7:39:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Brand] [nvarchar](50) NULL,
	[Price] [float] NULL,
	[Type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([Id], [Description], [Brand], [Price], [Type]) VALUES (1, N'Logitech G305', N'Logitech', 240, N'Mouse')
INSERT [dbo].[Devices] ([Id], [Description], [Brand], [Price], [Type]) VALUES (2, N'Monitor Gaming Odyssey G3 FHD', N'Samsung', 849, N'Monitor')
INSERT [dbo].[Devices] ([Id], [Description], [Brand], [Price], [Type]) VALUES (3, N'Mechanical Keyboard ASUS ROG Strix Scope NX TKL', N'ASUS', 349, N'Keyboard')
SET IDENTITY_INSERT [dbo].[Devices] OFF
GO
USE [master]
GO
